[
  {rabbit, [
     {ssl_listeners, [5671]},
     {ssl_options, [{cacertfile,"/etc/pf9/certs/ca/cert.pem"},
                    {certfile,"/etc/pf9/certs/broker/cert.pem"},
                    {keyfile,"/etc/pf9/certs/broker/key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}]}
   ]}
].
