[Unit]
Description=Platform9 resource manager
Wants=network.target
Wants=mysqld.service rabbitmq-server.service
After=network.target

[Service]
ExecStart=/opt/pf9/resmgr/bin/python -u /opt/pf9/resmgr/bin/resmgr-daemon.py
Type=simple
PIDFile=/var/run/pf9/resmgr.pid
Restart=always
StandardOutput=journal
StandardError=journal
SyslogIdentifier=pf9-resmgr
RestartSec=10
StartLimitIntervalSec=60
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
